회원가입 페이지
<br>


<form action="" method="POST">
    {% csrf_token %}
    <p>아이디</p>
    <input name='username' type='text' required>
    <p>비밀번호</p>
    <input name='password' type='password' required>
    <p>성</p>
    <input name='firstname' type='text'>
    <p>이름</p>
    <input name='lastname' type='text' required>
    <p>닉네임</p>
    <input name='nickname' type='text' required>
    <p>이메일</p>
    <input name='email' type='email' required>
    <p>관심 질환</p>
    <input name='disease' type='text' placeholder="키워드를 입력해주세요. (예: 당뇨)">
    <p>관심 기관</p>
    <input name='organ' type='text' placeholder="키워드를 입력해주세요. (예: 심장)">
    <input type='submit' value='회원가입'>
</form>